[submodule "rad/chibios"]
	path = rad/chibios
	url = https://github.com/sam0737/chibios-rt-arduino-due

[submodule "rad/chibios_msd"]
	path = rad/chibios_msd
	url = https://github.com/sam0737/chibios-rt-usb-msd
[submodule "rad/ugfx"]
	path = rad/ugfx
	url = E:/Sam/Documents/Projects/ugfx
